<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width,
        initial-scale=1">
<title>Weather App</title>

<link rel="stylesheet" href="/cssStyles/home.css">
<link rel="stylesheet" href="/cssStyles/bottomLinks.css">


</head>
<body class="mobile-view">
	
    <div id="backgr">
    </div>     
     
    <div></div>
    
    <div id="aspect-ratio">
        <div id="textarea">
        	<span id="popup" th:text="${popupError}" style="display: none;"></span>
            <div id="top">
                <div id="top-title">
                    Check Today's Weather
                </div>
                <div id="seeSample">
                    <form method="post" th:action="@{/weatherReport/GetSample}">
                         <input type="submit" value="Sample" />
                    </form>
                </div>
                
                <div id="top-time">
                    [[${currentDate}]]
                </div>
                <div id="top-date">
                    [[${currentTime}]]
                </div>
                <div id="top-search">
                    <form>
                        <input type="text" id="userInput" placeholder="ZIP or City (Dallas, TX)">
                    </form>
                </div>
                
            </div>
            
            <div id="bottom">
            
            	<div id="homeMiddleBackgrdDiv">
	                <img id="homeMiddleBackgrd" src="/images/homeBackgrd.jpg">
            	</div>
            
	            <div id="openWeatherLogoAndSocialLinks">
	                <div id="openWeatherLogoText">
	                    <i>Powered by</i> 
	                    <a href="https://openweathermap.org/" target="_blank">
	                        <img id="openWeatherLogoImage" src="/images/openWeatherLogo.png">
	                    </a>
	                </div>
	                <div id="socialLinks">
	                	<b> <a href="https://github.com/Nathan-Barthen" target="_blank">GitHub</a> <br>
	                	    <a href="https://www.linkedin.com/in/nathan-barthen-22993722a/" target="_blank">LinkedIn</a> </b>
	                </div>
	            </div>
            
            </div>
            
           
        
            
        </div>    
    </div>

	
	<script src="/javaScript/entersLocation.js"></script>
	<script src="/javaScript/errorRedirectPopup.js"></script>
	
</body>
</html>



















