<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width,
        initial-scale=1">
<title>Weather App</title>

<link rel="stylesheet" href="/cssStyles/home.css">



</head>
<body>
     <div id="backgr">
     </div>     
    <div>
    </div>
    <div id="aspect-ratio">
        <div id="textarea">
        
            <div id="top">
                <div id="top-title">
                    Check Today's Weather
                </div>
                <div id="top-time">
                    Time
                </div>
                <div id="top-date">
                    Date
                </div>
                <div id="top-search">
                    <form>
                        <input type="text" placeholder="Enter ZIP or Town">
                    </form>
                </div>
                
            </div>
            
            <div id="bottom">
            
            	<div id="homeMiddleBackgrdDiv">
	                <img id="homeMiddleBackgrd" src="/images/homeBackgrd.jpg">
            	</div>
            
	            <div id="openWeatherLogo">
	                <div id="openWeatherLogoText">
	                    <i>Powered by</i> 
	                    <a href="https://openweathermap.org/" target="_blank">
	                        <img id="openWeatherLogoImage" src="/images/openWeatherLogo.png">
	                    </a>
	                </div>
	            </div>
            
            </div>
            
           
        
            
        </div>    
    </div>


	<script src="/javaScript/RENAME___THIS.js"></script>
</body>
</html>



















