<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width,
        initial-scale=1">
<title>Weather App</title>

<link rel="stylesheet" href="/cssStyles/weatherScreen/weatherScreen-5Day-top.css">
<link rel="stylesheet" href="/cssStyles/weatherScreen/weatherScreen-5Day-bottom.css">
<link rel="stylesheet" href="/cssStyles/weatherScreen/weatherScreen-advancedInfo.css">
<link rel="stylesheet" href="/cssStyles/weatherScreen/weatherScreen-links.css">

</head>
<body>
     <div id="backgr">
     </div>     
    <div>
    </div>
    <div id="aspect-ratio">
        <div id="textarea">
        
            <div id="top">
            	<div id="top-search">
                    <form>
                        <input type="text" placeholder="ZIP or City (Dallas, TX)">
                    </form>
                </div>
                
                <div id="top-columns">
                	<div id="top-column1">
	                	<div id="top-location">
	                    	Location
		                </div>
		                <div id="top-time">
		                    5-Day Forecast
		                </div>
		                <div id="top-date">
		                    2/9/23 - 2/13/23
		                </div>
		            </div>
		            
		            <div id="top-column2">
	                	<div id="top-avgTemp">
	                    	60<span id="degreesSymbol">&#176;</span>F
		                </div>
		                <div id="top-highLowTemp">
	                    	71 - 49 <span id="degreesSymbol">&#176;</span>F
		                </div>
		            </div>
		            
		            
                </div>
                <div id="top-daySelector">
                	<div id="top-TodayDiv">
                		Today
                	</div>
                	<div id="top-TomorrowDiv">
                		Tomorrow
                	</div>
                	<div id="top-5DayDiv">
                		5-Day Forecast
                	</div>
                </div>
                
                
            </div>
            
            <div id="bottom">
            
            	<div id="bottom-DailyWeatherInfo1">
            		<div id="bottom-DailyWeather-hourInfo">
            			<div id="bottom-DailyWeather-hourInfo-box">
            			
            				<div id="bottom-DailyWeather-time">
            					<b> 2/9/23 </b>
            				</div>
            				
            				<div id="bottom-DailyWeather-tempAndIcon">
            					<div id="bottom-DailyWeather-temp">
            						Temp
            					</div>
            					<div id="bottom-DailyWeather-iconAndDisc">
            						<div id="bottom-DailyWeather-icon">
            							<img id="bottom-DailyWeatherImg" src="http://openweathermap.org/img/wn/10d@2x.png">
            						</div>
            						<div id="bottom-DailyWeather-iconDisc">
            							Rainy
            						</div>
            					</div>
            				</div>
            				
		            		<div id="bottom-DailyWeather-highLow">
		            				High - Low
		            		</div>	
		            		<div id="bottom-DailyWeather-weatherDisc">
		            				Light Rain
		            		</div>	
		            		<div id="bottom-DailyWeather-downfall">
		            				.2in Rain
		            		</div>	
            			</div>
            		</div>
            		<div id="bottom-DailyWeather-hourInfo">
            			<div id="bottom-DailyWeather-hourInfo-box">
            			
            				<div id="bottom-DailyWeather-time">
            					<b> 2/9/23 </b>
            				</div>
            				
            				<div id="bottom-DailyWeather-tempAndIcon">
            					<div id="bottom-DailyWeather-temp">
            						Temp
            					</div>
            					<div id="bottom-DailyWeather-iconAndDisc">
            						<div id="bottom-DailyWeather-icon">
            							<img id="bottom-DailyWeatherImg" src="http://openweathermap.org/img/wn/10d@2x.png">
            						</div>
            						<div id="bottom-DailyWeather-iconDisc">
            							Rainy
            						</div>
            					</div>
            				</div>
            				
		            		<div id="bottom-DailyWeather-highLow">
		            				High - Low
		            		</div>	
		            		<div id="bottom-DailyWeather-weatherDisc">
		            				Light Rain
		            		</div>	
		            		<div id="bottom-DailyWeather-downfall">
		            				.2in Rain
		            		</div>	
            			</div>
            		</div>
            		<div id="bottom-DailyWeather-hourInfo">
            			<div id="bottom-DailyWeather-hourInfo-box">
            			
            				<div id="bottom-DailyWeather-time">
            					<b> 2/9/23 </b>
            				</div>
            				
            				<div id="bottom-DailyWeather-tempAndIcon">
            					<div id="bottom-DailyWeather-temp">
            						Temp
            					</div>
            					<div id="bottom-DailyWeather-iconAndDisc">
            						<div id="bottom-DailyWeather-icon">
            							<img id="bottom-DailyWeatherImg" src="http://openweathermap.org/img/wn/10d@2x.png">
            						</div>
            						<div id="bottom-DailyWeather-iconDisc">
            							Rainy
            						</div>
            					</div>
            				</div>
            				
		            		<div id="bottom-DailyWeather-highLow">
		            				High - Low
		            		</div>	
		            		<div id="bottom-DailyWeather-weatherDisc">
		            				Light Rain
		            		</div>	
		            		<div id="bottom-DailyWeather-downfall">
		            				.2in Rain
		            		</div>	
            			</div>
            		</div>
            	</div>
            	<div id="bottom-DailyWeatherInfo2">
            		<div id="bottom-DailyWeather-hourInfo2">
            			<div id="bottom-DailyWeather-hourInfo-box">
            			
            				<div id="bottom-DailyWeather-time">
            					<b> 2/9/23 </b>
            				</div>
            				
            				<div id="bottom-DailyWeather-tempAndIcon">
            					<div id="bottom-DailyWeather-temp">
            						Temp
            					</div>
            					<div id="bottom-DailyWeather-iconAndDisc">
            						<div id="bottom-DailyWeather-icon">
            							<img id="bottom-DailyWeatherImg" src="http://openweathermap.org/img/wn/10d@2x.png">
            						</div>
            						<div id="bottom-DailyWeather-iconDisc">
            							Rainy
            						</div>
            					</div>
            				</div>
            				
		            		<div id="bottom-DailyWeather-highLow">
		            				High - Low
		            		</div>	
		            		<div id="bottom-DailyWeather-weatherDisc">
		            				Light Rain
		            		</div>	
		            		<div id="bottom-DailyWeather-downfall">
		            				.2in Rain
		            		</div>	
            			</div>
            		</div>
            		<div id="bottom-DailyWeather-hourInfo2">
            			<div id="bottom-DailyWeather-hourInfo-box">
            			
            				<div id="bottom-DailyWeather-time">
            					<b> 2/9/23 </b>
            				</div>
            				
            				<div id="bottom-DailyWeather-tempAndIcon">
            					<div id="bottom-DailyWeather-temp">
            						Temp
            					</div>
            					<div id="bottom-DailyWeather-iconAndDisc">
            						<div id="bottom-DailyWeather-icon">
            							<img id="bottom-DailyWeatherImg" src="http://openweathermap.org/img/wn/10d@2x.png">
            						</div>
            						<div id="bottom-DailyWeather-iconDisc">
            							Rainy
            						</div>
            					</div>
            				</div>
            				
		            		<div id="bottom-DailyWeather-highLow">
		            				High - Low
		            		</div>	
		            		<div id="bottom-DailyWeather-weatherDisc">
		            				Light Rain
		            		</div>	
		            		<div id="bottom-DailyWeather-downfall">
		            				.2in Rain
		            		</div>	
            			</div>
            		</div>
            		
            	</div>
            	
            <div id="advancedInfo">
            		<div id="advancedInfo-Title">^ Advanced Info</div>
            		<div id="advancedInfo-hiddenContent">
            			<span id="hiddenContent-tempGraph-Title">5 Day Temperature Graph (&#176;F)</span>
						<div id="graph-container">
						  <canvas id="temp-graph"></canvas>
						</div>
						<div id="hiddenContent-tempValuesDiv">
							<div id="hiddenContent-avgTempValues1">20&#176;</div>
							<div id="hiddenContent-avgTempValues2">22&#176;</div>
							<div id="hiddenContent-avgTempValues3">24&#176;</div>
							<div id="hiddenContent-avgTempValues4">25&#176;</div>
							<div id="hiddenContent-avgTempValues5">26&#176;</div>
							<div id="hiddenContent-avgTempValues6">24&#176;</div>
							<div id="hiddenContent-avgTempValues7">22&#176;</div>
							<div id="hiddenContent-avgTempValues8">20&#176;</div>
						</div>
						
						<div id="hiddenContent-otherInfo">
							<div id="hiddenContent-otherInfo-col1">
								<div id="hiddenContent-otherInfo-col1-info">
									Real Feel: 54&#176;F <br>
									Wind  <br>
									Other...
									                  
			                	</div>
			                	
			                </div>
			                <div id="hiddenContent-otherInfo-col2">
			                	<div id="hiddenContent-otherInfo-col2-info">
									Real Feel: 54&#176;F <br>
									Wind  <br>
									Other...
									                  
			                	</div>
	                	
	                
	                		</div>
						</div>
						
						        		
            		</div>
            </div>
            	
            	
            	
	            <div id="openWeatherLogoAndSocialLinks">
	                <div id="openWeatherLogoText">
	                    <i>Powered by</i> 
	                    <a href="https://openweathermap.org/" target="_blank">
	                        <img id="openWeatherLogoImage" src="/images/openWeatherLogo.png">
	                    </a>
	                </div>
	                <div id="socialLinks">
	                	<b> <a href="https://github.com/Nathan-Barthen" target="_blank">GitHub</a> <br>
	                	    <a href="https://www.linkedin.com/in/nathan-barthen-22993722a/" target="_blank">LinkedIn</a> </b>
	                </div>
	            </div>
            
            </div>
            
           
        
            
        </div>    
    </div>
	
	
	
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="/javaScript/advancedInfo-Popup.js"></script>
	<script src="/javaScript/advandedInfo-Graph.js"></script>
	<script src="/javaScript/clicks-Today.js"></script>
	<script src="/javaScript/clicks-Tomorrow.js"></script>
	
	
	
	
</body>
</html>



















