<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width,
        initial-scale=1">
<title>Weather App</title>

<link rel="stylesheet" href="/cssStyles/weatherScreenDefault.css">



</head>
<body>
     <div id="backgr">
     </div>     
    <div>
    </div>
    <div id="aspect-ratio">
        <div id="textarea">
        
            <div id="top">
            	<div id="top-search">
                    <form>
                        <input type="text" placeholder="Enter ZIP or Town">
                    </form>
                </div>
                
                <div id="top-columns">
                	<div id="top-column1">
	                	<div id="top-location">
	                    	Location
		                </div>
		                <div id="top-time">
		                    Time
		                </div>
		                <div id="top-date">
		                    Date
		                </div>
		            </div>
		            
		            <div id="top-column2">
	                	<div id="top-temp">
	                    	60&#176;F
		                </div>
		                
		            </div>
		            
		            <div id="top-column3">
	                	<div id="top-imageDiv">
	                    	<img id="top-currentWeatherImg" src="http://openweathermap.org/img/wn/10d@2x.png">
		                </div>
		                <div id="top-imageDisc">
	                    	Sunny
		                </div>
		                <div id="top-imageDisc2">
	                    	<i>(Expect Sun)</i>
		                </div>
		                
		            </div>
                </div>
                <div id="top-daySelector">
                	<div id="top-TodayDiv">
                		Today
                	</div>
                	<div id="top-TomorrowDiv">
                		Tomorrow
                	</div>
                	<div id="top-5DayDiv">
                		5-Day Forecast
                	</div>
                </div>
                
                
            </div>
            
            <div id="bottom">
            
            	<div id="bottom-currentWeatherInfo">
            	
	                <div id="bottom-currentWeatherInfo-col1">
	                	<span id="bottom-currentWeatherInfo-col1-time"> <b>Info for 10:21pm:</b> </span>
						<div id="bottom-currentWeatherInfo-col1-info">
							Real Feel: 54&#176;F                  
	                	</div>
	                	<div id="bottom-currentWeatherInfo-col1-sunset">
							Sunrise: 7:21am <br>
							Sunset: 6:37pm
	                	</div>
	                	
	                </div>
	                <div id="bottom-currentWeatherInfo-col2">
	                	<span id="bottom-currentWeatherInfo-col2-warningTitle"> <b>Weather Warning(s):</b> </span>
	                	<div id="bottom-currentWeatherInfo-col2-warning">
							No current Weather Warnings for your area.
	                	</div>
	                	<div id="bottom-currentWeatherInfo-col2-info">
							sdsdfsdfsdfsdfm <br>
							sdfsdfsdfsdfsdf ghghgh ghghgh
	                	</div>
	                	
	                
	                </div>
            	</div>
            	
            	
            	<div id="bottom-3hourlyWeather1">
            		<div id="bottom-3hourlyWeather1-hourInfo">
            			<div id="bottom-3hourlyWeather1-hourInfo-box">
            			
            				<div id="bottom-3hourlyWeather1-hourInfo-box-time">
            					<b> 12am-3am </b>
            				</div>
            				<div id="bottom-3hourlyWeather1-hourInfo-box-tempAndIcon">
            					<div id="bottom-3hourlyWeather1-hourInfo-box-tempAndIcon-temp">
            						Temp
            					</div>
            					<div id="bottom-3hourlyWeather1-hourInfo-box-tempAndIcon-icon">
            						icon
            					</div>
            				</div>
            			
            			
            			
            			
            			
            			</div>
            		</div>
            		
            		
            		<div id="bottom-3hourlyWeather1-hourInfo">
            			<div id="bottom-3hourlyWeather1-hourInfo-box">
            			
            			</div>
            		</div>
            		<div id="bottom-3hourlyWeather1-hourInfo">
            			<div id="bottom-3hourlyWeather1-hourInfo-box">
            			
            			</div>
            		</div>
            		<div id="bottom-3hourlyWeather1-hourInfo">
            			<div id="bottom-3hourlyWeather1-hourInfo-box">
            			
            			</div>
            		</div>
            	</div>
            	
            	<div id="bottom-3hourlyWeather2">
            	
            	</div>
            	
            	<div id="bottom-advancedInfo">
            		^ Advanced Info
            	</div>
            	
            	
            	
	            <div id="openWeatherLogo">
	                <div id="openWeatherLogoText">
	                    <i>Powered by</i> 
	                    <a href="https://openweathermap.org/" target="_blank">
	                        <img id="openWeatherLogoImage" src="/images/openWeatherLogo.png">
	                    </a>
	                </div>
	            </div>
            
            </div>
            
           
        
            
        </div>    
    </div>


	<script src="/javaScript/RENAME___THIS.js"></script>
</body>
</html>



















