
/* BOTTOM SECTIONS (Generic Todays Info + 3-Hourly Info */


   /* START BOTTOM SECTIONS */
   
   
   #bottom {
       height: 63%;
       width: 100%;
   }
   
    /* START CURRENT WEATHER INFO */
   #bottom-currentWeatherInfo{
   		width: 100%;
 	 	height: 26%;
 	 	
 	 	display: flex;
  		flex-direction: row;
  		
  		border-bottom: 1px solid black;
	    margin-left: auto;
	    margin-right: auto;
	    width: 95%;
   }
     
     /* START COL1 INFO */
   #bottom-currentWeatherInfo-col1{
   		width: 50%;
   		height: 100%;
   		font-size: 45px;
   }
   #bottom-currentWeatherInfo-col1-title {
   		width: 100%;
   		height: 10%;
   		color: white;
   		display: flex;
	  	align-items: flex-start; 
		
	  	position: relative;
  		top: 5%;
	  	left: 5%;
	  	font-family: Garamond, serif;
	  	font-size: 50px;
   }
   #bottom-currentWeatherInfo-col1-info {
   		width: 100%;
   		height: 50%;
   		display: flex;
	  	align-items: flex-start; 
	  	
	  	position: relative;
  		top: 15%;
	  	left: 10%;
	  	font-family: Garamond, serif;
   }
    #bottom-currentWeatherInfo-col1-sunset {
    	width: 100%;
   		height: 40%;
   		display: flex;
   		
   		align-items: flex-end; 
   		position: relative;
  		bottom: 5%;
	  	left: 10%;
	  	font-family: Garamond, serif;
   }
   
     /* END COL1 INFO */
     /* START COL2 INFO */
   
   #bottom-currentWeatherInfo-col2 {
   		width: 50%;
 	 	height: 100%;
 	 	
   }
   #bottom-currentWeatherInfo-col2-warningBorder {
   		width: 105%;
   		height: 46%;
 	 	border-bottom: 1px solid black;
 	 	border-left: 1px solid black;
 	 	background-color: rgb(77, 77, 255);
   }
   #bottom-currentWeatherInfo-col2-warningTitle {
   		width: 100%;
   		height: 28%;
   		color: white;
   		display: flex;
	  	align-items: flex-start; 
		color: rgb(153, 0, 0);
	  	position: relative;
  		top: 5%;
	  	left: 5%;
	  	font-size: 45px;
   }
   #bottom-currentWeatherInfo-col2-warning {
   		width: 95%;
   		height: 36%;
   		color: white;
   		display: flex;
	  	align-items: flex-start; 
	  	position: relative;
  		top: 12%;
	  	left: 10%;
	  	font-size: 35px;
	  	
   }
   #bottom-currentWeatherInfo-col2-info {
   		width: 95%;
   		height: 54%;
   		display: flex;
   		
   		align-items: flex-end; 
   		position: relative;
  		bottom: 5%;
	  	left: 10%;
	  	font-family: Garamond, serif;
	  	font-size: 40px;
   
   }
       /* END COL2 INFO */ 
   
   /* END CURRENT WEATHER INFO */
   
 
 	#bottom-space {
   		padding-top: 20px;
   		display: flex;
	    align-items: center;
	    text-align: center;
   }
   
   #bottom-weatherMap {
   		width: 100%;
 	 	height: 68%;
 	 	
   }  
  
  #precipitationMap {
  		height: 500px; 
   		width: 95%;
   		margin: auto;
   		border: 3px solid black;
   		z-index: 1;
  }
  
   
   
   