
/* OPENWEATHER LOGO / Social Links */


	
   /* START BOTTOM OPENWEATHER LOGO / Social Links */
   
   #openWeatherLogoAndSocialLinks {
       position: absolute;
       border-top: 2px solid black;
       bottom: 0;
       height: 7%;
       width: 100%;
       display: flex;
       
       background-color: rgb(0, 32, 128);
       
   }
   #openWeatherLogoText{
   	   width: 100%;
       color: white;
       font-size: 50px;
       display: flex;
       align-items: center;
       padding-left: 10px;
   }
   #openWeatherLogoImage {
       padding-left: 20px;
       height: 80px;
       width: 190px;       
       z-index: 1;
   }
   #socialLinks {
		position: absolute;
		bottom: 0;
		right: 0;
		padding-right: 3px;
		padding-bottom: 3px;
		color: white;
		text-align: right;
		font-size: 25px;
   
   }
   
   
   
   