
/* START GENERIC STYLES */

html, body { 
        
        background-image: url('https://free4kwallpapers.com/uploads/originals/2019/04/19/nice-weather-amp-river-views-wallpaper.jpg'); 
        background-size: cover;
        transform: scale(1.0);
    }
    header {
        padding: 20px;
    }
    
    #backgr {
        position: absolute;
        height: 100%; 
        
    }
    
    #aspect-ratio {
      position: relative;
      height: 1920px;
      width: 1080px;
      margin: auto;
    }
    #textarea {
        border: 3px solid black;
        background-color: rgb(77, 121, 255);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        
        
        
        font-family: Trebuchet MS;
    }
    
    /* END GENERIC STYLES */
    
    
    /* START TOP STYLES */
     #top {
        background-color: rgb(0, 32, 128);
        position: relative;
        width: 100%;
        height: 30%;
        color: white;
        border-bottom: 2px solid black;
        font-family: Trebuchet MS;
        
    }
   
    #top-search {
    	height:25%;
    	padding-top: 10px;
        width: 100%;
        font-size: 6px;
        display: flex;
	    align-items: center;
	    text-align: center;
	    position: relative;
    }
    #top-search input {
      width: 90%;
      height: 25%;
      font-size: 15em;
      padding-left: 10px;
      border: 1px solid gray;
      border-radius: 5px;
      outline: none;
      background-color: rgb(0, 0, 56);
	  color: rgb(255, 255, 102);
    }
    
    
    /* START COLUMN STYLES */
    #top-columns {
		display: flex;
	 	flex-wrap: wrap;
	  	justify-content: center;
	  	height:63%;
    }
    
    #top-column1 {
    	width: 40%;
    }
    
    #top-column2 {
    	width: 30%;
    }
    
    #top-column3 {
    	width: 20%;
    	position: relative;
    	height: 100%;
	    align-items: center;
	    text-align: center;
    }
   
    
    /* Column1 */
    #top-location {
        padding-top: 10%;
        width: 100%;
        padding-left: 5%;
        font-size: 65px;
        color: rgb(255, 133, 51);
        white-space: nowrap;
    }
    #top-time {
    	width: 100%;
        padding-left: 5%;
        font-size: 65px;
        color: rgb(230, 184, 0);
        padding-top: 20%;
    }
    #top-date {
        width: 100%;
        
        padding-left: 5%;
        font-size: 65px;
        white-space: nowrap;
        display: flex;
        align-items: end; 
        white-space: nowrap;
        
    }
    
    /* Column2 */
    #top-avgTemp {
    	top: 20%;
  		position: relative;
    	display: flex;
	    align-items: center;
	    text-align: center;
    	font-size: 150px;
    	left: -10%;
    	-webkit-text-stroke:5px black;
  		-webkit-text-fill-color:white;
    }

   	#top-highLowTemp {
   		top: 18%;
   		position: relative;
    	display: flex;
	    align-items: center;
	    text-align: center;
	    justify-content: center;
    	font-size: 80px;
   		font-style: italic;
   		color: rgb(179, 179, 179);
   		-webkit-text-stroke:5px black;
  		-webkit-text-fill-color:rgb(179, 179, 179);
  		white-space: nowrap;
   }
   #degreesSymbol {
   		color: white;
   		-webkit-text-stroke:2px white;
  		-webkit-text-fill-color:white;
   }
   
   /* Column3 */
   #top-imageDiv {
	  display: flex;
	  height: 65%;
      align-items: flex-end; /* aligns items vertically at the bottom */
      justify-content: center; /* aligns items horizontally in the middle */

   }
   #top-currentWeatherImg {
   	  height: 300px;
	  width: 300px;
	  
	  position: absolute;
	  bottom: 22%;
   }
    #top-imageDisc {
	   	height: 20%;
	   	display: flex;
	  	align-items: flex-start; 
	  	justify-content: center;
	   	z-index: 2;
	   	font-size: 60px;
   }
    #top-imageDisc2 {
	   	height: 15%;
	   	max-width: 300px;
	   	display: flex;
	  	align-items: flex-start; 
	  	justify-content: center;
	   	z-index: 2;
		white-space: nowrap;
		overflow: visible;
		text-overflow: ellipsis;
		font-size: 30px;
   }
   /* END COLUMN STYLES */
   /* START TODAY | TOMORROR | 5 DAY FORECAST */
   
   #top-daySelector {
   		height: 10%;
        width: 100%;
        display: flex;
	 	flex-wrap: wrap;
	  	border-top: 2px solid black;
	  	border-bottom: 4px solid black;
   		background-color: rgb(0, 0, 102);
   		color: rgb(230, 184, 0);
   		font-size: 45px;
   }
   #top-TodayDiv {
   		width: 33%;
   		height: 100%;
   		display: flex;
   		justify-content: center;
	    align-items: center;
	    text-align: center;
	    border-right: 4px solid black;
   }
   #top-TodayDiv:hover {
    	background-color: rgb(0, 0, 255);
    	cursor: pointer;
   }
   #top-TomorrowDiv {
   		width: 33%;
   		height: 100%;
   		
   		display: flex;
   		justify-content: center;
	    align-items: center;
	    text-align: center;
	    border-right: 4px solid black;
   }
   #top-TomorrowDiv:hover {
    	background-color: rgb(0, 0, 255);
    	cursor: pointer;
   }
   #top-5DayDiv {
   		width: 33%;
   		height: 100%;
   		display: flex;
   		justify-content: center;
	    align-items: center;
	    text-align: center;
   }
   #top-5DayDiv:hover {
    	background-color: rgb(0, 0, 255);
    	cursor: pointer;
   }
   
   /* END TOP SECTION */
   
   