
/* BOTTOM SECTIONS (Generic Todays Info + 3-Hourly Info */


   /* START BOTTOM SECTIONS */
   
   
   #bottom {
       height: 63%;
       width: 100%;
       background-image: url("/images/blueBackground.png");
       background-size: cover;
       background-position: center;
   }
   
    /* START CURRENT WEATHER INFO */
   #bottom-currentWeatherInfo{
   		width: 100%;
 	 	height: 26%;
 	 	
 	 	display: flex;
  		flex-direction: row;
  		
  		border-bottom: 1px solid black;
	    margin-left: auto;
	    margin-right: auto;
	    width: 95%;
   }
     
     /* START COL1 INFO */
   #bottom-currentWeatherInfo-col1{
   		width: 50%;
   		height: 100%;
   		font-size: 45px;
   }
   #bottom-currentWeatherInfo-col1-title {
   		width: 100%;
   		height: 10%;
   		color: white;
   		display: flex;
	  	align-items: flex-start; 
		
	  	position: relative;
  		top: 5%;
	  	left: 5%;
	  	font-family: Garamond, serif;
	  	font-size: 50px;
   }
   #bottom-currentWeatherInfo-col1-info {
   		width: 100%;
   		height: 50%;
   		display: flex;
	  	align-items: flex-start; 
	  	
	  	position: relative;
  		top: 15%;
	  	left: 10%;
	  	font-family: Garamond, serif;
   }
    #bottom-currentWeatherInfo-col1-sunset {
    	width: 100%;
   		height: 40%;
   		display: flex;
   		
   		align-items: flex-end; 
   		position: relative;
  		bottom: 5%;
	  	left: 10%;
	  	font-family: Garamond, serif;
   }
   
     /* END COL1 INFO */
     /* START COL2 INFO */
   
   #bottom-currentWeatherInfo-col2 {
   		width: 50%;
 	 	height: 100%;
 	 	
   }
  
   #bottom-currentWeatherInfo-col2-info {
   		width: 95%;
   		height: 100%;
   		
   		position: relative;
  		top: 25%;
	  	left: 10%;
	  	font-family: Garamond, serif;
	  	font-size: 45px;
   		
   		
   
   }
   #precipChance {
   		position: relative;
	    left: 8%;
	    font-size: 40px;
	    font-weight: bold;
   }
   
  
   #downfall {
   		position: relative;
   		
   		left: 8%;
   		font-size: 40px;
   }
       /* END COL2 INFO */ 
   
   /* END CURRENT WEATHER INFO */
   
   /* START 3HOURLY INFO */
 
   #bottom-3hourlyWeather1 {
   		width: 100%;
 	 	height: 34%;
 	 	
 	 	display: flex;
  		flex-direction: row;
   }  
   #bottom-3hourlyWeather2 {
   		width: 100%;
 	 	height: 34%;
 	 	display: flex;
  		flex-direction: row;
   }
   
   #bottom-3hourlyWeather-hourInfo {
   		width: 25%;
   		height: 100%;
        align-items: center;
        display: flex;
   }
   #bottom-3hourlyWeather-hourInfo-box {
   		border: 1px solid black;
		width: 75%;
		height: 63%;
		margin: auto;
		justify-content: center;
		background-color: rgb(77, 77, 255);
		color: white;
   }
   #bottom-3hourlyWeather-time {
   		width: 100%;
   		height: 15%;
   		justify-content: center;
	    align-items: center;
	    text-align: center;
	    color: rgb(230, 184, 0);
	    font-size: 30px;
   }
   
   #bottom-3hourlyWeather-tempAndIcon {
   		width: 100%;
   		height: 40%;
   		display: flex;
  		flex-direction: row;
  		font-size: 30px;
   }
	   #bottom-3hourlyWeather-temp {
	   		width: 50%;
	   		height: 100%;
	   		display: flex;
	   		justify-content: center;
		    align-items: center;
		    text-align: center;
	   }
	   
	   #bottom-3hourlyWeather-iconAndDisc {
	   		width: 50%;
	   		height: 100%;
	   		display: flex;
		 	flex-wrap: wrap;
	   }
	   
	   #bottom-3hourlyWeather-icon {
		  	display: flex;
		    height: 70%;
	        align-items: flex-end; /* aligns items vertically at the bottom */
	        justify-content: center; 
	   }
	   #bottom-3hourlyWeatherImg {
	   	    height: 90px;
		    width: 90px;
		    
	   }
	   #bottom-3hourlyWeather-iconDisc {
	   		height: 20%;
	   		width: 100%;
		   	display: flex;
		  	align-items: flex-start;
		  	justify-content: center;
		   	z-index: 2;
		   	font-size: 25px;
		   	position: relative;
		   	bottom: 15%;
		   	white-space: nowrap;
			overflow: visible;
			text-overflow: ellipsis;
	   }
	   
  #bottom-3hourlyWeather-weatherDisc {
  		width: 100%;
   		height: 17%;
   		justify-content: center;
	    align-items: center;
	    text-align: center;
	    font-size: 25px;
	    white-space: nowrap;
		overflow: visible;
  }
  #bottom-3hourlyWeather-downfall {
  		width: 100%;
   		height: 14%;
   		justify-content: center;
	    align-items: center;
	    text-align: center;
	    color: black;
	    font-size: 25px;
  }
  #3hourlyWeather-downfallAmount {
  		font-size: 25px;
  }
  #bottom-3hourlyWeather-humidity {
  		width: 100%;
   		height: 14%;
   		justify-content: center;
	    align-items: center;
	    text-align: center;
	    color: black;
	    font-size: 25px;
  } 
   
  
   
   
   