html, body { 
        
        background-image: url('https://free4kwallpapers.com/uploads/originals/2019/04/19/nice-weather-amp-river-views-wallpaper.jpg'); 
        background-size: cover;
        transform: scale(1.0);
    }
    header {
        padding: 20px;
    }
    
    #backgr {
        position: absolute;
        height: 100%; 
        
    }
    
    #aspect-ratio {
      position: relative;
      height: 1920px;
      width: 1080px;
      margin: auto;
    }
    #textarea {
        border: 3px solid black;
        background-color: rgb(77, 121, 255);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        
        
        
        font-family: Trebuchet MS;
    }
    
    #top {
        background-color: rgb(0, 32, 128);
        position: relative;
        width: 100%;
        height: 30%;
        color: white;
        border-bottom: 2px solid black;
        font-family: Trebuchet MS;
        
    }
    
    #top-title {
        width: 100%;
        height: 20%;
        font-size: 100px;
        display: flex;
        justify-content: center;
        color: rgb(255, 133, 51);
    }
    #top-locations{
     	width: 100%;
     	height: 35%;
     	padding-left: 5%;
    	padding-top: 5%;
        font-size: 30px;
        
    }
    
    
    #top-location {
    	padding-top: 10px;
    }
    #top-locationContainer {
    	width: 90%;
    	display: flex;
    	justify-content: space-between; /* evenly space the divs */
    }
    #selectCity {
    	padding-left: 5px;
    	float: left;
    	
	}
	#selectCity form {
	    width: 90px; /* increase the width of the form */
	    height: 30px; /* increase the height of the form */
	}
	#selectCity input {
	    width: 100%; /* set the width of the input to 100% to fill the form */
	    height: 100%; /* set the height of the input to 100% to fill the form */
	    font-size: 25px; /* increase the font-size of the text */
	    background-color: rgb(0, 0, 56);
	    color: rgb(102, 255, 102);
	}
	#iconImg {
		height: 30px;
		width: 20px;
	}
    #city {
    	float: left; /* align to the left */
    	text-align: left;
    	width: 25%;
    }
    #lon {
    	text-align: center; /* center align the text */
    	width: 20%;
    }
    #lat {
    	text-align: center; /* center align the text */
    	width: 20%;
    }
    #state {
    	float: right; 
    	text-align: right;
    	width: 15%;
    }
    
    
    #top-notice {
    	width: 100%;
    	height: 5%;
    	padding-top: 10px;
    	
    	padding-left: 5%;
        font-size: 30px;
        color: red;
        
    }
    
    #top-search {
    	height:25%;
    	padding-top: 10px;
        width: 100%;
        font-size: 6px;
        display: flex;
	    align-items: center;
	    text-align: center;
	    position: relative;
    }
    #top-search input {
      width: 90%;
      height: 25%;
      font-size: 15em;
      padding-left: 10px;
      border: 1px solid gray;
      border-radius: 5px;
      outline: none;
      background-color: rgb(0, 0, 56);
	  color: rgb(255, 255, 102);
    }
   
   
   #bottom {
       height: 63%;
       width: 100%;
   }
   #bottom-space {
   		padding-top: 20px;
   		display: flex;
	    align-items: center;
	    text-align: center;
   }
   #mapid {
   		height: 700px; 
   		width: 98%;
   		margin: auto;
   		border: 3px solid black;
   }
   
   #homeMiddleBackgrdDiv{
   		width: 100%;
 	 	height: 100%;
   }
   #homeMiddleBackgrd {
	  width: 100%;
	  height: 100%;
	  object-fit: cover;
   
   }
   
   
   
