
	html, body { 
        
        background-image: url('https://free4kwallpapers.com/uploads/originals/2019/04/19/nice-weather-amp-river-views-wallpaper.jpg'); 
        background-size: cover;
        transform: scale(1.0);
    }

    
    header {
        padding: 20px;
    }
    
    #backgr {
        position: absolute;
        height: 100%; 
        
    }
    
    #aspect-ratio {
      position: relative;
      height: 1920px;
      width: 1080px;
      margin: auto;
    }

    
     #textarea {
        border: 3px solid black;
        background-color: rgb(77, 121, 255);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        
        
        
        font-family: Trebuchet MS;
    }
    



    
    #top {
        background-color: rgb(0, 32, 128);
        position: relative;
        width: 100%;
        height: 30%;
        color: white;
        border-bottom: 2px solid black;
        font-family: Trebuchet MS;
        
    }
    
    #top-title {
        width: 100%;
        font-size: 100px;
        display: flex;
        justify-content: center;
        color: rgb(255, 133, 51);
    }
    #top-time {
     	width: 100%;
     	padding-left: 5%;
    	padding-top: 5%;
        font-size: 100px;
    }
    
    #seeSample {
    	padding-right: 50px;
    	padding-top: 80px;
    	right: 0;
    	display: flex;
	    position: absolute;
	}
	#seeSample form {
	    width: 220px; /* increase the width of the form */
	    height: 70px; /* increase the height of the form */
	}
	#seeSample input {
	    width: 100%; /* set the width of the input to 100% to fill the form */
	    height: 100%; /* set the height of the input to 100% to fill the form */
	    font-size: 55px; /* increase the font-size of the text */
	    background-color: rgb(0, 0, 56);
	    color: rgb(255, 133, 51);
	}
	
	#seeSample input:hover {
	  cursor: pointer;
	  background-color: rgb(0, 0, 99);
	}
    
    #top-date {
        width: 100%;
        padding-left: 5%;
        font-size: 100px;
    }
    #top-search {
    	height:25%;
    	padding-top: 10px;
        width: 100%;
        font-size: 6px;
        display: flex;
	    align-items: center;
	    text-align: center;
	    position: relative;
    }
    #top-search input {
      width: 90%;
      height: 25%;
      font-size: 15em;
      padding-left: 10px;
      border: 1px solid gray;
      border-radius: 5px;
      outline: none;
      background-color: rgb(0, 0, 56);
	  color: rgb(255, 255, 102);
    }
   
   
   #bottom {
       height: 63%;
       width: 100%;
   }
   
   #homeMiddleBackgrdDiv{
   		width: 100%;
 	 	height: 100%;
   }
   #homeMiddleBackgrd {
	  width: 100%;
	  height: 100%;
	  object-fit: cover;
   
   }
   
   
   
